@import "../../../../styles/base";
.column-money{
  text-align: right !important;
  padding:0 8px 0 -9px !important;
  margin:0 !important
}
.wrap-card{
  margin-top:61px
}
.user-header {
  width:100px;
  height:100px
}
.button-left-group{
  position: absolute;
  right: 101px;
  top: 39px;
  .button-one{
    margin-top:16px
  }
}
.header-down .ant-avatar-string{
  top:48px
}
.wrap{
  border-top:1px solid #d7d7d7;
  border-left:1px solid #d7d7d7;
  overflow: hidden;
  .payment-read{
    border-top:1px solid #d7d7d7;
    border-left:1px solid #d7d7d7;
    h4{
      color:$primary;
      font-size: 16px;
      padding-top: 15px;
    }
    .payment-row{
      border-bottom:#ddd solid 1px;
      padding-bottom: 15px;
      margin-bottom: -1px;
    }
    .payment-label{
      color:#999;
      display: inline-block;
      text-overflow:ellipsis;
      padding:0 12px;
      &:after{
        content: ':';
        margin-left: 3px;
      }
    }

    .payment-value{
      color:#333333;
      padding:0 12px;
      text-overflow:ellipsis;
      // text-align: right
    }


    .payment-item{
      border-bottom:1px solid #d7d7d7;
      height:46px;
      border-right:1px solid #d7d7d7;
      background:#fff;
      padding:12px;
    }
  }
}
.little-title{
  font-size: 24px;
  color:#4c6800
}
