.column-money{
  text-align: right !important;
  padding:0 8px 0 -9px !important;
  margin:0 !important
}
.wrap-card{
  margin-top:61px
}
.user-header {
  width:100px;
  height:100px
}
.button-left-group{
  position: absolute;
  right: 101px;
  top: 39px;
  z-index: 10;
  .button-one{
    margin-top:16px
  }
}
